@import url('https://fonts.goog/leapis.com/css2?family=Muli&display=swap');

:root {
  --background-color: #000;
  --color: #fff;
}

html.light {
  --background-color: #fff;
  --color: #000;
  background-color: var(--background-color);
  color: var(--color);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

span {
  display: flex;
}

span#supp {
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#time {
  display: flex;
  color: var(--color);
  font-size: 30rem;
}

#ampm {
  color: indianred;
  align-self: center;
  font-size: 9rem;
  margin: 0;
}

#seconds {
  color: var(--color);
  font-size: 9rem;
  text-align: center;
  margin: 0;
}

@media (max-width: 1450px) {
  #time {
    font-size: 25rem;
  }

  #ampm, #seconds {
    font-size: 7rem;
  }
}

@media (max-width: 1200px) {
  #time {
    font-size: 18rem;
  }

  #ampm, #seconds {
    font-size: 6rem;
  }
}

@media (max-width: 900px) {
  #time {
    font-size: 14rem;
  }

  #ampm, #seconds {
    font-size: 5rem;
  }
}

@media (max-width: 700px) {
  #time {
    font-size: 9rem;
  }

  #ampm, #seconds {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  #time {
    font-size: 5rem;
  }

  #ampm, #seconds {
    font-size: 2rem;
  }
}
